[project]
	description = various scripts for cluster management
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Wei Xu (xuw)
[access "refs/for/refs/*"]
	read = group user/Wei Xu (xuw)
	push = group user/Wei Xu (xuw)
	label-Code-Review = -2..+2 group user/Wei Xu (xuw)
	label-Verified = -1..+1 group user/Wei Xu (xuw)
	rebase = group user/Wei Xu (xuw)
	removeReviewer = group user/Wei Xu (xuw)
	submit = group user/Wei Xu (xuw)
[access "refs/heads/*"]
	read = group user/Wei Xu (xuw)
	create = group user/Wei Xu (xuw)
	push = +force group user/Wei Xu (xuw)
	pushMerge = group user/Wei Xu (xuw)
[access "refs/tags/*"]
	push = +force group user/Wei Xu (xuw)
	pushTag = group user/Wei Xu (xuw)
	pushSignedTag = group user/Wei Xu (xuw)
